/* utils */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

article{
    margin: 15px;
}

address{
    font-style: normal;
}


/* main header */

.main-header {
    background-color: #4ea0fc;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 380px;
}

.logo {
    height: 55px;
    margin-top: 40px;
    margin-left: 15px;
}


/* article header */

.title {
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 2.5rem;
}

.subtitle {
    color: #7d7d7d;
    font-size: large;
}

.datetime {
    font-size: small;
}

.img-caption {
    font-size: small;
}


/* article content */

.article-text{
   font-size: large; 
}

.ul-list{
    padding: 0;
    list-style-position: inside;
}


/* tabella */

.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tr-head {
    background-color: #22a9e1;
    color: white;
    text-align: left;
}

.tr-uno, .tr-tre {
    background-color: #b1e5f1;
    text-align: left;
}

.tr-due {
    text-align: left;
    background-color: white;
}


/* footer */

.aside{
    color: #757575;
    font-size: 1.3rem;
    font-weight: bold;
}

.img-uno, .img-due{
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    max-width: 100%;
    width: 300px;
    height: 200px;
    padding: 12px;
    margin-top: 10px;
}

.img-uno{
    background-image: url(../img/monitor.jpg);
}

.img-due{
    background-image: url(../img/graph.jpg);
}