/* utils */
body {
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.article{
    margin: 10px;
}

/* main header */
.main-header {
    background-color: #4ea0fc;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: contain;
}

.logo {
    height: 45px;
    margin-top: 40px;
    margin-left: 5px;
}

/* article header */
.title {
    margin-bottom: 0px;
}

.subtitle {
    color: #7d7d7d;
}

.datetime {
    font-size: small;
}

.img-caption {
    font-size: small;
}

/* article content */
.underline {
    background-color: yellow;
}

.ul-list{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

/* tabella */
.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tr-head {
    background-color: #22a9e1;
    color: white;
    text-align: left;
}

.tr-uno, .tr-tre {
    background-color: #b1e5f1;
    text-align: left;
}

.tr-due {
    text-align: left;
    background-color: white;
}
